.main {
  margin: 2% 7%;
  max-width:75%;
}

.icon{
  display: flex;
                flex-direction: row;
                align-items: center;
                position: fixed;
                top: 20%;
                right: 5%;
                z-index: 30;
                cursor:pointer;
                transition: transform .2s;
}
.icon:hover{
  transform: scale(1.5);
}

.iconMag{
  display: flex;
                flex-direction: row;
                align-items: center;
                position: fixed;
                top: 60%;
                right: 5%;
                z-index: 30;
                cursor:pointer;
                transition: transform .2s;
}
.iconMag:hover{
  transform: scale(1.5);
}
@media(max-width: 768px){
  .icon,
  .iconMag{
    display: none;
  }
  }